---
import c from "../constants";
import Layout from "../layouts/Layout.astro";
import About from "../components/About.astro";
import Posts from "../components/Posts.astro";
import CTA from "../components/CTA.astro";
import Sales from "../components/Sales.astro";
import Resource from "../components/Resourses.astro";
import SuccessStories from "../components/SuccessStories.astro";
---

<Layout title="Lorem ipsum">
	<main>
		<section class="relative">
			<About client:view />
		</section>

		<section class="relative">
			<Posts client:view />
		</section>

		<section class="relative">
			<Sales client:view />
		</section>

		<section class="relative">
			<CTA client:view />
		</section>

		<section class="relative">
			<Resource client:view />
		</section>

		<section class="relative">
			<SuccessStories client:view />
		</section>
	</main>

	<style>
		html {
			scroll-behavior: smooth;
		}
		main {
			margin: auto;
			padding: 1rem;
			width: 100vw;
			max-width: calc(100% - 2rem);
			font-size: 20px;
			line-height: 1.6;
		}
		h2 {
			font-size: 1.5rem;
			line-height: 1.2;
		}
	</style>
</Layout>
