---
import c from "../constants";

const mdAbout = await Astro.glob(`../content/about/*.md`);

const Content = mdAbout[0].Content;
---

<article class="relative flex flex-col gap-8">
  <span
    id={`${c.ids.about.toLowerCase().replace(" ", "-")}`}
    class="absolute"
    style="margin-top: -3rem;"></span>

  <div class="mt-8">
    <Content />
  </div>
</article>
