---
import c from "../constants";
---

<article class="w-full">
  <span
    id={`${c.ids.cta.toLowerCase().replace(" ", "-")}`}
    class="absolute"
    style="margin-top: -4rem;"></span>

  <div class="mt-8">
    Junte-se a nós nesta jornada emocionante! Se você está procurando soluções
    tecnológicas avançadas ou deseja fazer parte de nossa equipe talentosa,
    entre em contato conosco <a
      class="text-primary hover:text-hover font-semibold"
      href="https://wa.me/552299863-3284">Aqui</a
    >.
    <h2 class="">
      Na <b class="font-medium">Lorem ipsum</b>, acreditamos que o futuro é
      moldado pela tecnologia, e estamos determinados a liderar essa
      transformação. Juntos, vamos construir um amanhã mais inteligente e
      conectado.
    </h2>
  </div>
</article>
